{% extends "navbarmenu.html" %}

{% block content %}
<div style="display: flex;">
<div>
  <h2>Atividades a confirmar</h2>
</div>
</div>
<hr width="100%">
{% for activity in activities %}

        <div class="card content-section m-2">
          <div class="card-body">
            <h2 class="article-title"">{{ activity.title }}</h2>

            <p class="article-content">Comentários: {{ activity.content }}</p>
            <p class="article-content">Progresso: {{ activity.progress }}</p>
            {%if activity.date_due %}
              <p class="article-content">Data de Entrega: {{ activity.date_due.strftime('%d/%m/%Y')}}</p>
            {% else %}
                <p class="article-content">Data de Entrega: </p>
            {% endif %}
            <p class="article-content">Prioridade: {{activity.priority}}</p>
            <div style="margin-left: auto;">
            {% if current_user.isRepr %}
              <a href="{{ url_for('update_act', act_id=activity.id) }}" class="btn btn-outline-info">Alterar Atividade</a>
              <a href="{{ url_for('delete_act', act_id=activity.id) }}" class="btn btn-outline-danger">Apagar Atividade</a>
            {% endif %}
            {% if not activity.resp_quest %}
              <a href="{{ url_for('accept_act', act_id=activity.id) }}" class="btn btn-outline-secondary">Responder Questionário</a>
            {% else %}
            <div class="alert alert-success mt-2" role="alert">
                Questionário respondido.
            </div>
            {% endif %}
            </div>
          </div>
        </div>
{% endfor %}

{% endblock content %}
