{% extends "navbarmenu.html" %}

{% block content %}
<div>
  <h2>Disciplinas</h2>
</div>
<hr width="100%">

<div>
<form method="POST" action="" class="form-inline my-2 my-lg-0">
  {{ form.hidden_tag() }}
  <fieldset>
      {% if form.typeOfSearch.errors %}
          {{ form.typeOfSearch(class="btn btn-secondary dropdown-toggle") }}
          <div class="invalid-feedback">
              {% for error in form.typeOfSearch.errors %}
                  <span>{{ error }}</span>
              {% endfor %}
          </div>
      {% else %}
          {{ form.typeOfSearch(class="btn btn-secondary dropdown-toggle") }}
          {% endif %}
      {% if form.subject.errors %}
          {{ form.subject(class="form-control") }}
          <div class="invalid-feedback">
              {% for error in form.teacher.errors %}
                  <span>{{ error }}</span>
              {% endfor %}
          </div>
      {% else %}
          {{ form.subject(class="form-control") }}
      {% endif %}
      {{ form.submit(class="btn btn-outline-secondary my-2 my-sm-0") }}
  </fieldset>
</div>

<hr width="0%">

<div>
  {% for subject in subjects %}
    {% if (loop.index)%2 == 0 %}
      <div class="card text-black bg-light mb-3" style="max-width: 1200px;">
        <div style="display: flex;">
        <div>
          <div class="card-body">
            <p class="card-text"><strong>{{subject.code}}</strong>: {{subject.name}}</p>
          </div>
        </div>
        <div style="margin-left: auto;">
          <div class="card-body">
              <a class="btn btn-outline-success" href="{{ url_for('addingSubjects', subjectCode=subject.code) }}" style="color:black" class="card-text">Adicionar</a>
          </div>
        </div>
        </div>
      </div>
    {% else %}
      <div class="card text-white bg-dark mb-3" style="max-width: 1200px;">
        <div style="display: flex;">
        <div>
          <div class="card-body">
            <p class="card-text"><strong>{{subject.code}}</strong>: {{subject.name}}</p>
          </div>
        </div>
        <div style="margin-left: auto;">
          <div class="card-body">
              <a class="btn btn-outline-success" href="{{ url_for('addingSubjects', subjectCode=subject.code) }}" style="color:white" class="card-text">Adicionar</a>
          </div>
        </div>
        </div>
      </div>
    {% endif %}
{% endfor %}
</div>
{% endblock content %}
