{% extends "navbarmenu.html" %}

{% block content %}

    <style type="text/css">
  @media (min-width: 768px){
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1  {
    width: 100%;
    *width: 100%;
  }
}
@media (min-width: 992px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
    max-width: 14.285714285714285714285714285714% !important;
flex:none !important;
  }
}

@media (min-width: 1200px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
    max-width: 14.285714285714285714285714285714% !important;
flex:none !important;
  }
}
</style>

{% endblock content %}

{% block calendar %}


<div style="display: flex; margin-left:20px;">
<div>
<h2>{{monthName}}</h2>
</div>
<div style="margin-left: auto; margin-right:80px;">
  <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Mês
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    {% set months = ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro']%}
    {% for i in range(12)%}
    <a class="dropdown-item" href="{{ url_for('calendar', month=i+1) }}">{{months[i]}}</a>
    {% endfor %}
  </div>
  </div>
</div>
</div>
<hr width="99%">
{% for i in range(0, 42, 7) %}
<div class="row seven-cols" style="margin-left:15px; margin-right:15px;">
  {%if i == 0 %}
    {% set weekDays = ['SEG', 'TER', 'QUA', 'QUI', 'SEX', 'SAB', 'DOM']%}
    {% for l in range(7) %}
      <div class="col-md-1 bg-dark" style="border-style:solid; border-width:1px;">
        <p style="text-align:center; font-size:20px; color:white;"><strong>{{weekDays[l]}}</strong></p>
      </div>
    {% endfor %}
  {% endif %}

  {%if (monthNumber != 12 and cells[i][1] != monthNumber + 1) or (monthNumber == 12 and cells[i][1] != 1) %}
    {% for k in range(7) %}
      {% if cells[i+k][1] == monthNumber %}
      <div class="col-md-1" style="border-style:solid; border-width:1px; height:180px;">
        <p style="text-align:center; font-size:20px;"><strong>{{cells[i+k][0]}}</strong></p>
        <ul>
          {% for j in range(2, len(cells[i+k])) %}
            <li>{{cells[i+k][j]}}</li>
          {% endfor %}
        </ul>
      </div>
      {% else %}
        <div class="col-md-1" style="border-style:solid; border-width:1px; height:180px; background-color:#DCDCDC;">
          <p style="text-align:center; font-size:20px;"><strong>{{cells[i+k][0]}}</strong></p>
          <ul>
            {% for j in range(2, len(cells[i+k])) %}
              <li>{{cells[i+k][j]}}</li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    {% endfor %}
  </div>
  {% endif %}
{% endfor %}

<hr width="0%">
{% endblock calendar %}
