{% extends "navbarmenu.html" %}

{% block content %}
<div style="display: flex;">
  <div>
    <h2>Disciplinas em curso</h2>
  </div>
  <div style="margin-left: auto;">
    <button type="button" class="btn btn-outline-secondary" onclick="window.location.href='/addsubjects'" >Adicionar disciplinas</button>
  </div>
</div>
<hr width="100%">

<div>
  <p style="font-size:20px; margin-bottom: 20px;">Selecione as disciplinas que deseja remover:</p>
</div>
<form method="POST" action="/removesubjects">
  {% for subject in subjects %}
    {% if (loop.index)%2 == 0 %}
    <div class="card text-black bg-light mb-3" style="max-width: 1200px;">
      <div style="display: flex;">
      <div>
        <div class="card-body">
          <p class="card-text"><strong>{{subject.code}}</strong>: {{subject.name}}</p>
        </div>
      </div>
      <div style="margin-left: auto;">
        <div class="card-body">
          <div class="form-check">
            <input type="checkbox" id="{{subject.name}}" name="subjectToRemove" value="{{subject.id}}">
          </div>
        </div>
      </div>
      </div>
    </div>
    {% else %}
    <div class="card text-white bg-dark mb-3" style="max-width: 1200px;">
      <div style="display: flex;">
      <div>
        <div class="card-body">
          <p class="card-text"><strong>{{subject.code}}</strong>: {{subject.name}}</p>
        </div>
      </div>
      <div style="margin-left: auto;">
        <div class="card-body">
          <div class="form-check">
              <input type="checkbox" id="{{subject.name}}" name="subjectToRemove" value="{{subject.id}}">
          </div>
        </div>
      </div>
      </div>
    </div>
    {% endif %}
  {% endfor %}

  <div style="display: flex;">
    <div style="margin-left: auto;">
      <button type="submit" class="btn btn-outline-danger">Remover disciplinas</button>
    </div>
  </div>
</form>
{% endblock content %}
