{% extends "navbarmenu.html" %}

{% block content %}
	<div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Avaliação de disciplina eletiva</legend>
								<div class="card text-white bg-dark mb-3" style="max-width: 1200px;">
									<div style="display: flex;">
										<p style="font-size:17px; margin-right: 20px; margin-left: 20px; margin-top: 20px; margin-bottom: 20px;"><strong>Disciplina:</strong> {{subject.code}} - {{subject.name}}</p>
									</div>
								</div>

								<div class="card text-black bg-light mb-3" style="max-width: 1200px;">
									<div style="display: flex;">
										<p style="font-size:17px; margin-right: 20px; margin-left: 20px; margin-top: 20px; margin-bottom: 20px;"><strong>Ministrada por:</strong> {{teachers}}</p>
									</div>
								</div>

								<div class="card text-white bg-dark mb-3" style="max-width: 1200px;">
								<div>
									<p style="font-size:17px; margin-top: 20px; margin-left: 20px;"><strong>Avalie a disciplina segundo os critérios abaixo (nota 1 significa muito ruim, nota 5 significa excelente):</strong></p>
								</div>

								<ul>
								<li>
									<div style="display: flex;">
							      <p style="font-size:17px; margin-right: 20px; margin-top: 5px;">Material didático disponibilizado pelo professor:</p>
										{% if form.courseware.errors %}
												{{ form.courseware(class="btn btn-secondary dropdown-toggle") }}
												<div class="invalid-feedback">
														{% for error in form.courseware.errors %}
																<span>{{ error }}</span>
														{% endfor %}
												</div>
										{% else %}
												{{ form.courseware(class="btn btn-secondary dropdown-toggle") }}
										{% endif %}
							    </div>
								</li>
								<li>
									<div style="display: flex;">
							      <p style="font-size:17px; margin-right: 20px; margin-top: 5px;">Didática do professor:</p>
										{% if form.teacherRate.errors %}
												{{ form.teacherRate(class="btn btn-secondary dropdown-toggle") }}
												<div class="invalid-feedback">
														{% for error in form.teacherRate.errors %}
																<span>{{ error }}</span>
														{% endfor %}
												</div>
										{% else %}
												{{ form.teacherRate(class="btn btn-secondary dropdown-toggle") }}
										{% endif %}
							    </div>
								</li>
								<li>
									<div style="display: flex;">
							      <p style="font-size:17px; margin-right: 20px; margin-top: 5px;">Método avaliativo da disciplina:</p>
										{% if form.evaluationMethod.errors %}
												{{ form.evaluationMethod(class="btn btn-secondary dropdown-toggle") }}
												<div class="invalid-feedback">
														{% for error in form.evaluationMethod.errors %}
																<span>{{ error }}</span>
														{% endfor %}
												</div>
										{% else %}
												{{ form.evaluationMethod(class="btn btn-secondary dropdown-toggle") }}
										{% endif %}
							    </div>
								</li>
								</ul>
								</div>

							<div class="card text-black bg-light mb-3" style="max-width: 1200px;">
								 <p style="font-size:17px; margin-left: 20px; margin-right: 20px; margin-top: 20px;"><strong>Comentários:</strong></p>
								 <div style="margin-left: 20px; margin-right: 20px; margin-bottom: 20px;">
                    {% if form.comment.errors %}
                        {{ form.comment(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.comment.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.comment(class="form-control form-control-lg") }}
                    {% endif %}
									</div>
            </div>
						<div style="display: flex;">
						{{ form.anonymous.label(class="form-check-label ml-4") }}
						{{ form.anonymous(class="form-check-input ml-0") }}
						</div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}
