{% extends "searchsubject.html" %}

{% block title %}
  <div>
    <h2>Disciplinas eletivas avaliadas</h2>
  </div>
  <hr width="100%">
{% endblock title %}

{% block restofhtml %}

<div style="display: flex;">
<div>
<p style="font-size:20px; margin-bottom: 20px;">Selecione uma disciplina para visualizar a avaliação:</p>
</div>
<div style="margin-left: auto;">
  <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Filtrar por
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="{{ url_for('searchRatedSubjects', orderBy='finalRate') }}">Mais bem avaliadas</a>
    <a class="dropdown-item" href="{{ url_for('searchRatedSubjects', orderBy='teacherRate') }}">Ministradas pelos professores com a melhor didática</a>
    <a class="dropdown-item" href="{{ url_for('searchRatedSubjects', orderBy='coursewareRate') }}">Com o melhor material didático</a>
    <a class="dropdown-item" href="{{ url_for('searchRatedSubjects', orderBy='evaluationMethodRate') }}">Com o melhor método de avaliação</a>
  </div>
  </div>
</div>
</div>
<hr width="100%">

  <div>
    {% for subject in subjects %}
      {% if (loop.index)%2 == 0 %}
        <div class="card text-black bg-light mb-3" style="max-width: 1200px;">
          <div style="display: flex;">
          <div>
            <div class="card-body">
              <p class="card-text"><strong>{{subject.code}}</strong>: {{subject.name}}</p>
              {% for teacher in subject.teachers %}
                  {% set displayName = "Prof. " + teacher.name %}
                  <p><a href="{{ url_for('teacher', routeIdentifier=teacher.routeIdentifier) }}" style="color:black; font-size:15px" class="card-text">{{displayName}}</a></p>
              {% endfor %}
            </div>
          </div>
          <div style="margin-left: auto;">
            <div class="card-body">
                <p class="card-text">Média: {{subject.finalRate}}</p>
                <a class="btn btn-outline-info" href="{{ url_for('gettingRatingInfo', subjId=subject.id) }}" style="color:black" class="card-text">Visualizar avaliação</a>
            </div>
          </div>
          </div>
        </div>
      {% else %}
        <div class="card text-white bg-dark mb-3" style="max-width: 1200px;">
          <div style="display: flex;">
          <div>
            <div class="card-body">
              <p class="card-text"><strong>{{subject.code}}</strong>: {{subject.name}}</p>
              {% for teacher in subject.teachers %}
                  {% set displayName = "Prof. " + teacher.name %}
                  <p><a href="{{ url_for('teacher', routeIdentifier=teacher.routeIdentifier) }}" style="color:white; font-size:15px" class="card-text">{{displayName}}</a></p>
              {% endfor %}
            </div>
          </div>
          <div style="margin-left: auto;">
            <div class="card-body">
                <p class="card-text">Média: {{subject.finalRate}}</p>
                <a class="btn btn-outline-info" href="{{ url_for('gettingRatingInfo', subjId=subject.id) }}" style="color:white" class="card-text">Visualizar avaliação</a>
            </div>
          </div>
          </div>
        </div>
      {% endif %}
  {% endfor %}
  </div>
{% endblock restofhtml %}
