<!DOCTYPE html>
<html>
<head>

    <html lang="pt-br">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    {% if title %}
        <title>FacilITA - {{ title }}</title>
    {% else %}
        <title>FacilITA</title>
    {% endif %}
</head>
<body>
    <div class="navbar-header">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #C3C2C2;">
          <a class="navbar-brand" href="{{ url_for('home') }}">FacilITA</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav">
              {% if current_user.is_authenticated %}
                <a class="nav-item nav-link" href="{{ url_for('home') }}">Disciplinas</a>
                <a class="nav-item nav-link" href="{{ url_for('teacher') }}">Professores</a>
                <a class="nav-item nav-link" href="{{ url_for('logout') }}">Sair</a>
              {% endif %}
                {% block navbar %}{% endblock %}
            </div>
          </div>
        </nav>
    </div>
    <main role="main" class="container" style="margin-top: 10px;">
      <div class="row">
        <div class="col-md-12">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
        </div>
    </div>

    <h2>Disciplinas em curso</h2>
    <hr width="100%">
    {% for subject in subjects %}
      {% if (loop.index)%2 == 0 %}
        <div class="card text-black bg-light mb-3" style="max-width: 1200px;">
          <div class="row no-gutters">
            <div class="col-md-7">
              <div class="row no-gutters">
              <div class="card-body">
                <p class="card-text"><strong>{{subject.code}}</strong>: {{subject.name}}</p>
              </div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="card-body">
                {% for teacher in subject.teachers %}
                    {% set displayName = "Prof. " + teacher.name %}
                    <p><a href="{{ url_for('teacher', routeIdentifier=teacher.routeIdentifier) }}" class="card-text">{{displayName}}</a></p>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      {% else %}
        <div class="card text-white bg-dark mb-3" style="max-width: 1200px;">
          <div class="row no-gutters">
            <div class="col-md-7">
              <div class="row no-gutters">
              <div class="card-body">
                <p class="card-text"><strong>{{subject.code}}</strong>: {{subject.name}}</p>
              </div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="card-body">
                {% for teacher in subject.teachers %}
                    {% set displayName = "Prof. " + teacher.name %}
                    <p><a href="{{ url_for('teacher', routeIdentifier=teacher.routeIdentifier) }}" class="card-text">{{displayName}}</a></p>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      {% endif %}
  {% endfor %}

    </main>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
